 {{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/00d7e317d6f35ade81f97823526d2916.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer }}
    